<?xml version="1.0"?>
<config>
    <modules>
        <Bk_Customerdetails>
            <version>1.0.0</version>
        </Bk_Customerdetails>
    </modules>
    <global>
        <helpers>
            <customerdetails>
                <class>Bk_Customerdetails_Helper</class>
            </customerdetails>
        </helpers>
        <blocks>
            <customerdetails><class>Bk_Customerdetails_Block</class></customerdetails>
        </blocks>
        <models>
            <customerdetails>
                <class>Bk_Customerdetails_Model</class>
                <resourceModel>customerdetails_mysql4</resourceModel>
            </customerdetails>
            <customerdetails_mysql4>
                <class>Bk_Customerdetails_Model_Mysql4</class>
                <entities>
                    <extendedinfo>
                        <table>customer_extended_info</table>
                    </extendedinfo>
                </entities>
            </customerdetails_mysql4>
        </models>
        <resources>
            <customerdetails_setup>
                <setup>
                    <module>Bk_Customerdetails</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerdetails_setup>
            <customerdetails_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerdetails_read>
            <customerdetails_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerdetails_write>
        </resources>
    </global>
    <frontend>
        <routers>
            <customerdetails>
                <use>standard</use>
                <args>
                    <module>Bk_Customerdetails</module>
                    <frontName>customerdetails</frontName>
                </args>
            </customerdetails>
        </routers>
        <layout>
            <updates>
                <customerdetails>
                    <file>customerdetails.xml</file>
                </customerdetails>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <customerdetails>
                    <file>customerdetails.xml</file>
                </customerdetails>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerdetails after="Mage_Adminhtml">Bk_Customerdetails</customerdetails>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerdetails before="Mage_Adminhtml">Bk_Customerdetails_Adminhtml</customerdetails>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
